body{

    background-color: #EFC9E3;

}
 h1{


    color:red;
 }


button{

    background-color: #5392A0;
    
    line-height: 100px;
    box-shadow: 10px;
    height: 30pxpx;
    border: width 30px;
    
;
}




